@model WebAppCollections.Models.Books



<h1> @Model.Title</h1>

<div>@Model.Author</div>
<div>@Model.Title</div>
<div>@Model.Category</div>
<div>@Model.Description</div>

<a asp-action="Index" asp-controller="Books">Index</a>